meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="description" content="Beltone Financial | Leading Transformation")
// Chrome, Firefox OS and Opera 
meta(name="theme-color" content="#38506c")
// Windows Phone 
meta(name="msapplication-navbutton-color" content="#38506c")
// Status Bar For iOS Safari 
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="#38506c")
// Page Title For iOS Safari 
meta(name="apple-mobile-web-app-title" content="Beltone Financial | Leading Transformation")
// Page Title 
title Beltone Financial | Leading Transformation
// OG Meta Tags 
meta(property="og:title" content="Beltone Financial | Leading Transformation")
meta(property="og:type" content="website")
meta(property="og:url" content="https://www.beltonefinancial.com/")
meta(property="og:image" content="images/beltone_og.png")
meta(property="og:description" content="Beltone Financial | Leading Transformation")
// Twitter Cards 
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@")
meta(name="twitter:title" content="Beltone Financial | Leading Transformation")
meta(name="twitter:description" content="Beltone Financial | Leading Transformation")
meta(name="twitter:image" content="images/beltone_og.png")
// Windows Start Screen tile 
meta(name="application-name" content="Beltone Financial | Leading Transformation")
meta(name="msapplication-TileColor" content="#38506c")

link(rel="manifest" href="manifest.json")

link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css")
link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
link(rel="stylesheet" href="css/line-awesome.min.css")
link(rel="stylesheet" href="css/normalize.css")
// My Custom Style 
link(rel="stylesheet" href="css/style.css")

// IOS Launch Screen Image 
link(rel="apple-touch-startup-image" href="/launch.png")
// FavIcon
link(rel="shortcut icon" href="images/icon/favicon.ico")
// iOS Safari 
link(rel="apple-touch-icon" href="touch-icon-iphone.png")
link(rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad.png")
link(rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone-retina.png")
link(rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-retina.png")
// Font Import 
link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet")
// [if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  [endif]
