nav.fixed
    div.container-lg
        div.row.v-center
            div.col-6.v-center
                div.inline-block.mr-1
                    a(href="#")
                        i.la.la-bars.la-2x
                div.inline-block
                    a(href="/" style="display: inline-block")
                        img(src="images/logo.png", alt="Beltone", class="img-fluid")
            div.col-6.right
                div.inline-block.mr-sm-1
                    a(href="#" class="search-btn")
                        i.la.la-search.la-lg
                div.inline-block
                    a(href="#" class="main-btn uppercase")
                        i.la.la-user.la-lg
                        | client login
