div.social-media
    a(href="#").facebook.rounded-circle.mx-2
        i.fab.fa-facebook-f
    a(href="#").twitter.rounded-circle.mx-2
        i.fab.fa-twitter
    a(href="#").linkedin.rounded-circle.mx-2
        i.fab.fa-linkedin-in
    a(href="#").instagram.rounded-circle.mx-2
        i.fab.fa-instagram